ul{
    list-style-type: none;
   
}
li a{
    text-decoration: none;
}
.ul_nav{
    display: flex;
    align-items: center;
}
.li_nav{
    position: relative;
}
.li_nav a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
}
.sub_nav{
    position: absolute;
    display: none;
}
.li_nav:hover .a1{
    color: white;
}
.li_nav:hover .sub_nav{
    display: block;
}
.sub_li_nav:hover .a2{
    color: #007aff;
}
.sub_li_nav{
    position: relative;
}
.drop_down{
    position: absolute;
    display: none;
    background-color: white;
    
}
.sub_li_nav:hover .drop_down{
    display: block;
}
.li_drop_down:hover a{
    color: #007aff;
}
.li_nav_1 a{
    color: white;
}
.li_nav a{
    color: silver;
}
.li_nav:hover{
    color: white;
}

.sub_nav{
    left: 14px;
    top: 35px;
    margin: 0;
    padding: 10px 0;
    background-color: white;

}
.sub_li_nav a{
    color: black;
}
.sub_li_nav{
    width: 200px;
}
.drop_down{
    width: 200px;
    right: 200px;
    top: 0;
}
.li_drop_down a{
    color: black;
}
.li_drop_down{
    width: 200px;
}
