.section{
    
    padding: 7rem 0;
}
.content{
    position: relative;
    
    text-align: center;
}
.text{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.box_text{
    width: 41.67%;
}
.box_text .p2{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(-45deg, #3db3c5, #274685);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon_infor{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}
.sub_infor{
    width: 30%;
}
.box_sub_infor{
    text-align: center;
    box-sizing: border-box;
}
.icon{
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #3b87bd, #2d71a2);
}
.box_sub_infor h3{
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
}
.box_sub_infor p{
    color: #b1b1b1;
    margin-bottom: 1rem;
    text-align: center;
}
.icon i{
    font-size: 40px;
    line-height: 0;
    color: #fff;
}